{% include "base/header.html" %}

<section class="p-4 p-md-5 mb-4 rounded text-dark bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="display-4 fst-italic">My Projects</h1>
                <p class="lead">Explore some of the projects I've worked on. Each project demonstrates my skills and passion for Electronics and Python Development.</p>
            </div>
        </div>
    </div>
</section>

<section class="p-4 p-md-5 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <!-- Repeat this card structure for each project -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="path-to-project1-image.jpg" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Brief description of the project. Highlight the technologies used and the problem solved.</p>
                        <a href="project1-details.html" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for all projects -->
          <!-- Repeat this card structure for each project -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="path-to-project1-image.jpg" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Brief description of the project. Highlight the technologies used and the problem solved.</p>
                        <a href="project1-details.html" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for all projects -->
          <!-- Repeat this card structure for each project -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="path-to-project1-image.jpg" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Brief description of the project. Highlight the technologies used and the problem solved.</p>
                        <a href="project1-details.html" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for all projects -->
          <!-- Repeat this card structure for each project -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="path-to-project1-image.jpg" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Brief description of the project. Highlight the technologies used and the problem solved.</p>
                        <a href="project1-details.html" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for all projects -->
          <!-- Repeat this card structure for each project -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="path-to-project1-image.jpg" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Brief description of the project. Highlight the technologies used and the problem solved.</p>
                        <a href="project1-details.html" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for all projects -->
          <!-- Repeat this card structure for each project -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="path-to-project1-image.jpg" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Brief description of the project. Highlight the technologies used and the problem solved.</p>
                        <a href="project1-details.html" class="btn btn-dark">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for all projects -->
        </div>
    </div>
</section>

{% include "base/footer.html" %}
