<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="mb-4">Contact Me</h4>
                <p>Email: sg9967780426@gmail.com</p>
                <p>Phone: +91 (855) 205-1878</p>
                <div class="social-icons mt-3">
                    <a href="#" class="text-light"><i class="fab fa-linkedin-in">Linkedin</i></a>
                    <a href="#" class="text-light"><i class="fab fa-twitter">Twitter</i></a>
                    <a href="#" class="text-light"><i class="fab fa-github">Github</i></a>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="mb-4">Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">Projects</a></li>
                    <li><a href="#" class="text-light">Blog</a></li>
                    <li><a href="#" class="text-light">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="mb-4">Stay Updated</h4>
                <p>Subscribe to my newsletter to receive updates about new projects and blog posts.</p>
                <form class="form-inline">
                    <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Enter your email">
                    <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
