<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Shivam Gupta</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
                aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarsExample11">
            <a class="navbar-brand col-lg-5 me-0" href="#">Shivam Gupta</a>
            <ul class="navbar-nav  nav-underline col-lg-7 justify-content-lg-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">ABOUT ME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="postDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        BLOGS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="projectsDropdown">
                        <a class="dropdown-item" href="{{ url_for('blog', category='all') }}">ALL</a>
                        <a class="dropdown-item" href="{{ url_for('blog', category='personal_story') }}">Personal Story/Reflection</a>
                        <a class="dropdown-item" href="{{ url_for('blog', category='social_impact') }}">Social Impact</a>
                        <a class="dropdown-item" href="{{ url_for('blog', category='project_showcase') }}">Project Showcase</a>
                        <a class="dropdown-item" href="{{ url_for('blog', category='Security & Ethical
                            Hacking') }}">Security & Ethical Hacking</a>
                        <a class="dropdown-item" href="{{ url_for('blog', category='tutorial_guide') }}">Tutorial/Guide</a>
                        <a class="dropdown-item" href="{{ url_for('blog', category='other') }}">Other</a>

                    </div>
                </li>
                <!--                    ('personal_story', 'Personal Story/Reflection'), ('social_impact', 'Social Impact'),('project_showcase', 'Project Showcase'), ('tutorial_guide', 'Tutorial/Guide'), ('code_snipet', 'Code Snippets')-->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        PROJECTS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="projectsDropdown">
                        <a class="dropdown-item" href="{{ url_for('project', category='all') }}">ALL</a>
                        <a class="dropdown-item" href="{{ url_for('project', category='Automation') }}">Automation</a>
                        <a class="dropdown-item" href="{{ url_for('project', category='Machine Learning & AI') }}">Machine Learning & AI</a>
                        <a class="dropdown-item" href="{{ url_for('project', category='IoT & Embedded Projects') }}">IoT & Embedded Projects</a>
                        <a class="dropdown-item" href="{{ url_for('project', category='Security & Ethical Hacking') }}">Security & Ethical Hacking</a>
                        <a class="dropdown-item" href="{{ url_for('project', category='Software Development') }}">Software Development</a>
                        <a class="dropdown-item" href="{{ url_for('project', category='Other') }}">Other</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">CONTACT ME</a>
                </li>
                {% if not current_user.is_authenticated: %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">LOG IN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">SIGN UP</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">LOG OUT</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
