{% include "base/header.html" %}

<section>
    <div class="p-4 p-md-5 mb-4 rounded text-dark bg-light">
        <div class="d-flex flex-wrap align-items-center">
            <div class="col-md-6">
                <h1 class="display-4 fst-italic">Hello, I'm Shivam Gupta</h1>
                <p class="lead my-3">A creative mind with a passion for Electronics and Python Development.</p>
                <p class="lead mb-0"><a href="#" class="text-body fw-bold">Learn more</a></p>
            </div>
            <div class="col-md-6">
                <img src="static/assets/img/post-bg.jpg" alt="Shivam Kuber Gupta" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="p-4 px-md-5 py-md-3 mb-4 bg-light">
    <h1 class="rounded text-dark display-4 fst-italic">Blogs</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            post.title
                        </h2>
                        <h3 class="post-subtitle">
                            post.subtitle
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by post.author.name on post.date
                        <a href="#">✘</a>
                    </p>
                </div>

                <!-- New Post -->

                <p class="lead mb-0"><a href="#" class="text-body fw-bold">Read More</a></p>
            </div>
        </div>
    </div>
     <div class="text-center mt-4">
        <a href="url_for('blog')" class="btn btn-outline-dark d-block mx-auto">View All Blogs</a>
    </div>
    {% if current_user.id == 1: %}
    <div class="text-center mt-4">
        <a href="{{url_for('create_post')}}" class="btn btn-outline-dark d-block mx-auto">Create Blogs</a>
    </div>
    {% endif %}
</section>


<section class="p-4 px-md-5 py-md-3 mb-4 bg-light">
    <h1 class="rounded text-dark display-4 fst-italic text-center">Projects</h1>
    <div class="row featurette justify-content-center align-items-center">
        <div class="col-md-7 col-sm-12">
            <h2 class="featurette-heading fw-normal lh-1 text-center">Project 1</h2>
            <p class="lead text-center">Description of project 1.</p>
            <p class="lead text-center"><a href="#"  class="btn btn-outline-dark text-center">Learn More</a></p>

        </div>
        <div class="col-md-5 col-sm-12">
            <img src="static/assets/img/post-bg.jpg" class="img-fluid d-block mx-auto" alt="Image">
        </div>

    </div>
    <hr class="featurette-divider">
    <div class="text-center mt-4">
        <a href="url_for('project')" class="btn btn-outline-dark d-block mx-auto">View All Projects</a>
    </div>
    {% if current_user.id == 1: %}
    <div class="text-center mt-4">
        <a href="{{ url_for('create_project')}}" class="btn btn-outline-dark d-block mx-auto">Create Project</a>
    </div>
    {% endif %}
</section>

{% include "base/footer.html" %}
