{% include "base/header.html" %}

<section class="p-4 p-md-5 mb-4 rounded text-dark bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="display-4 fst-italic">My Blog</h1>
                <p class="lead">Explore my latest articles, insights, and thoughts on Electronics, Python Development, and more.</p>
            </div>
        </div>
    </div>
</section>

<section class="p-4 p-md-5 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <!-- Repeat this card structure for each blog post -->
            \
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="path-to-post1-image.jpg" class="card-img-top" alt="Blog Post 1">
                    <div class="card-body">
                        <h5 class="card-title">Blog Post Title 1</h5>
                        <p class="card-text">Brief description of the blog post. Summarize the key points and insights.</p>
                        <a href="post1-details.html" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for all blog posts -->
        </div>
    </div>
</section>

{% include "base/footer.html" %}
