{% include "base/header.html" %}
<section>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary"
         style="background-color: rgb(204, 232, 207);">
        <div class="d-flex flex-wrap align-items-center">
            <div class="col-md-6">
                <h1 class="display-4 fst-italic">Hello, I'm Shivam Kuber Gupta,</h1>
                <p class="lead my-3">a creative mind with a passion for both Electronics and Python Development.</p>
                <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
            </div>
            <div class="col-md-6">
                <img src="static/assets/img/post-bg.jpg" alt="Shivam Kuber Gupta" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="p-4 px-md-5 py-md-3 mb-4 bg-body-secondary" style="background-color: rgb(204, 232, 207)">
    <h1 class="rounded text-body-emphasis display-4 fst-italic">Thoughts</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-3">
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            post.title
                        </h2>
                        <h3 class="post-subtitle">
                            post.subtitle
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        post.author.name
                        on post.date
                        <a href="#">✘</a>
                    </p>
                </div>


                <!-- New Post -->

            </div>
            <div class="col-lg-8 col-md-10 mx-3">
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            post.title
                        </h2>
                        <h3 class="post-subtitle">
                            post.subtitle
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        post.author.name
                        on post.date
                        <a href="#">✘</a>
                    </p>
                </div>


                <!-- New Post -->

            </div>
            <div class="col-lg-8 col-md-10 mx-3">

                <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
            </div>

        </div>
    </div>
</section>
<section class="p-4 px-md-5 py-md-3 mb-4 bg-body-secondary" style="background-color: rgb(204, 232, 207)">
    <h1 class="rounded text-body-emphasis display-4 fst-italic text-center">Projects</h1>

    <div class="row featurette justify-content-center align-items-center">
        <div class="col-md-7 col-sm-12">
            <h2 class="featurette-heading fw-normal lh-1 text-center">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
            <p class="lead text-center">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5 col-sm-12">
            <img src="static/assets/img/post-bg.jpg" class="img-fluid d-block mx-auto" alt="Image">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette justify-content-center align-items-center">
        <div class="col-md-7 col-sm-12 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 text-center">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
            <p class="lead text-center">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
       <div class="col-md-5 col-sm-12">
            <img src="static/assets/img/post-bg.jpg" class="img-fluid d-block mx-auto" alt="Image">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette justify-content-center align-items-start">
        <div class="col-md-7 col-sm-12">
            <h2 class="featurette-heading fw-normal lh-1 text-center">Third featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
            <p class="lead text-center">Some great placeholder content for the third featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5 col-sm-12">
            <img src="static/assets/img/post-bg.jpg" class="img-fluid d-block mx-auto" alt="Image">
        </div>
    </div>
</section>



{% include "base/footer.html" %}
